<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= t('page-titles.application-header') %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag 'dice' %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<%= tag.body(role: 'document') do %>
  <%= render 'navbar' %>
  <%= render 'dicebar' %>
  <%= tag.div(id: 'toasts', class: %w(toast-container)) %>
  <%= tag.div(class: %w(container), role: 'main') do %>
    <%= yield %>
  <% end %>
<% end %>
</html>
