<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>D&amp;D5e Reference</title>
  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body role="document">
<%= render 'navbar' %>

<div class="container" role="main">
  <%= yield %>
</div>

</body>
</html>
